@using MVCDiyethane.Models.Entity
@model List<TBLILETISIM>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Web Proje">
    <meta name="author" content="Müberra DURUPINAR">
    <meta name="keywords" content="HTML,CSS,DERSLER">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>YEMEK-YADA-YEMEMEK</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/iletişim/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/iletişim/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">




</head>
<body>


    <div class="container-contact100">

        <div class="wrap-contact100">
            @using (Html.BeginForm("Iletisim", "Vitrin", FormMethod.Post))
            {
            <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                    BİZİMLE İLETİŞİME GEÇİN
                </span>

                <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                    <input class="input100" type="text" name="AD" required="required" placeholder="İsim-Soyisim">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                    <input class="input100" type="text" name="MAIL" required="required" placeholder="E-mail">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter your phone">
                    <input class="input100" type="text" name="KONU" required="required" placeholder="Mesajınızın Konusu">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                    <textarea class="input100" name="MESAJ" required="required" placeholder="Mesajınız"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">

                    <button class="contact100-form-btn">
                        <span>
                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                            Gönder
                        </span>
                    </button>
                    
                </div>
            </form>
            }
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/iletişim/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/iletişim/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/iletişim/vendor/bootstrap/js/popper.js"></script>
    <script src="~/iletişim/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/iletişim/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/iletişim/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/iletişim/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/iletişim/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/iletişim/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>


</body>
</html>
