
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YARDIM</h2>

<h3>Bu Sayfa Admin İçin Geliştirilmiştir.</h3>
<h3>Diyet Ekleme Silme Güncelleme</h3>
<h3>Uye Ekleme Silme Güncelleme</h3>
<h3>Kategori Ekleme Silme Güncelleme</h3>
<h3>Yazar Ekleme Silme Güncelleme  Yetkilerine Sahiptir</h3>


<h3>Sol Tarafta Bulunan Menüden İstenilen İşlem Seçilebilir</h3>


